body {
    background-color: rgb(185, 255, 87);
}

#yourmom{
   animation-name: shrinkgrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes shrinkgrow {
 0% {
    height: 100px;
    transform: rotate(0deg);
 } 
 
 50% {
    height: 500px;
    transform: rotate(180deg);
 }

 
100% {
height: 100px;
transform: rotate(360deg);
}
    

}