body {
    background-color: rgb(185, 255, 87);
}

#yourmom{
   animation-name: shrinkgrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes shrinkgrow {
 0% {
    height: 100px;
    transform: rotate(1deg);
 } 
 
 50% {
    height: 500px;
    transform: rotate(10000deg);
 }


100% {
height: 100px;
transform: rotate(1000000000deg);
}
    

}